.admin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-form button {
  margin-top: 10px;
  width: 50%;
  border-radius: 5px;
}
.admin-form h1 {
  color: rgb(23, 161, 224);
}
