.Blogs-box {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  margin: 30px auto;
  height: 100%;
}
.Blogs-box img {
  width: 100%;
  height: 100%;
}
.Blogs-box h6,
p {
  text-align: justify;
}
.Blogs-box h3 {
  text-align: left;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.Blogs-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pagination {
  margin: 30px;
}
.pagination button {
  padding: 0 10px;
  margin-right: 20px;
}
.pagination .selected {
  background-color: rgb(43, 43, 224);
  color: white;
}
